section {
  max-width: 1200px;
  margin: auto;
}
.about-us__we-specialize {
  padding: 0.5rem 3rem;

  font-family: proxima_novaregular;
  line-height: var(--fontheight-h5);
  color: var(--black75);
  text-align: center;
  background: white;
  max-width: 600px;
  margin: 2rem auto 0 auto;
}
.about-us__empty-div {
  height: 180px;
}
.about-us h4 {
  text-align: center;
  font-family: brandon_grotesquebold;
  font-size: var(--fontsize-h4);
  color: var(--black75);
  background-color: #fff;
  width: 180px;
  margin: 1rem auto 1rem auto;

  border-radius: 30px;
}
.together_image {
  padding: 0rem 3rem;
  opacity: 0.7;
  margin: 2rem auto 1rem auto;
}
.about-us img {
  width: 100%;
  border-radius: 50px;
}

@media (min-width: 800px) {
  .about-us__empty-div {
    height: 240px;
  }
  .about-us__widescreen-container {
    display: flex;

    flex-wrap: wrap;
    align-items: center;
  }
  .about-us__intro-container {
    margin-top: 3rem;
    order: 3;
    width: 100%;
  }
  .about-us h4 {
    font-family: brandon_grotesquebold;
    font-size: var(--fontsize-h3);
    color: var(--black75);
    background-color: #fff;
    width: 180px;
    /* margin: auto; */

    border-radius: 30px;
  }
  .about-us__we-specialize {
    flex-basis: 75%;
    line-height: var(--fontheight-h4);
    color: var(--black75);
    font-size: var(--fontsize-h4);
    text-align: left;
    max-width: 1200px;
    padding: 0 2rem;
    /* margin: 0; */
  }
}
@media (min-width: 1000px) {
  .about-us__empty-div {
    height: 530px;
  }
  .about-us img {
    opacity: 1;
  }
}
