.contact__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.owl_img img {
  display: block;
  width: 50%;
  margin: 2rem auto;
}
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact__title {
  text-align: center;

  margin-bottom: 2rem;
  font-family: brandon_grotesquebold;
  font-size: var(--fontsize-h4);
  color: var(--black75);
}

.contact__button:hover .contact__button-icon {
  transform: translate(0.25rem);
}

.contact__form {
  width: 100%;
  max-width: 400px;
}
::placeholder {
  color: var(--black5);
  opacity: 1; /* Firefox */
  font-family: "brandon_grotesquebold", sans-serif;
  font-size: var(--fontsize-h6);
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: red;
}
.contact__form-div {
  position: relative;
  padding: 0.5rem;
  height: 4rem;
}
.button_send {
  background: var(--linear-gradiant);
  border-radius: 20px;
  border: none;
  color: #f9f6ee;
  justify-content: center;
  /* margin: 0.5rem; */
  width: 80%;
  margin: auto;
  padding: 0.5rem;
  font-family: "brandon_grotesquebold", sans-serif;
}
.contact__form-input {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--primary-color);
  background: var(--linear-gradiantop);
  color: var(--black90);
  font-family: "brandon_grotesquebold", sans-serif;
  font-size: var(--fontsize-h6);
  outline: none;
  border-radius: 20px;
  padding: 1.5rem;
  z-index: 1;
}

.contact__form-tag {
  color: #f9f6ee;
  position: absolute;
  top: -0.75rem;
  left: 2rem;
  font-family: brandon_grotesquebold;
  font-size: var(--fontsize-h6);
  padding: 0.25rem;
  border: 2px solid var(--primary-color);
  border-radius: 30px;
  z-index: 10;
  padding: 0.3rem;
  background: var(--linear-gradiant);
}

.contact__form-area {
  height: 11rem;
}

.contact__form-area textarea {
  resize: none;
}

@media screen and (min-width: 768px) {
  .contact__content {
    max-width: 1200px;
    margin: 6rem auto 2rem auto;
    /* padding: 2rem; */
    flex-direction: row;
  }
  .contact__title {
    order: 0;
    font-family: brandon_grotesquebold;
    font-size: var(--fontsize-h3);
    color: var(--black75);
    flex-basis: 40%;
    padding-left: 2rem;
  }
  .owl_img {
    order: 2;
    position: relative;
    right: 80px;
  }
  .owl_img img {
    display: block;
    width: 90%;
    margin: 0;
  }
  .contact__form {
    order: 3;
  }
  .contact__form {
    width: 100%;
    max-width: 500px;
    padding-right: 2rem;
  }
}
