.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 0.25rem;
}
.navbar__logo {
  z-index: 1;
  width: 128px;
  margin: 0.5rem 0 0 0.5rem;
}
.navbar .divider {
  height: 1px;
  width: 100%;
  background-color: var(--black5);
}

.navbar__button-mobile {
  z-index: 1;
  width: 24px;
  height: 20px;
  margin-right: 0.5rem;
}
.navbar__lng-btn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-family: "brandon_grotesquebold", sans-serif;
  margin-top: 0.25rem;
}
.navbar__lng-btn-desktop {
  display: flex;
  gap: 1rem;
  width: 80px;
  align-items: center;
  font-family: proxima_novaregular, sans-serif;
  font-size: var(--fontsize-h5);
  color: var(--black75);
}
.navbar__open-nav-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 500px;
  background: #e4ddec;
}

.navbar__mobile-list {
  display: flex;
  height: 620px;
  gap: 0.8rem;
  flex-direction: column;
  position: absolute;
  left: 0.8rem;
  z-index: 10;
}
.navbar__menu-list__menu-items {
  font-family: proxima_novaregular, sans-serif;
  font-size: var(--fontsize-h5);
  color: var(--black75);
}
.navbar__menu-list__menu-items-desktop {
  transition: 0.5s;
  padding: 1rem 0.5rem;
  background-size: 200% auto;
  font-family: proxima_novaregular, sans-serif;
  font-size: var(--fontsize-h5);
  color: var(--black75);
  /* border-radius: 50px; */
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  background-image: linear-gradient(
    140deg,
    #fff 0%,
    #fff 51%,
    #fff 60%,
    rgba(119, 87, 158, 0.6) 100%
  );
}
.navbar__menu-list__menu-items-desktop:hover {
  background-position: right center; /* change the direction of the change here */
}
.navbar__desktop-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
}
@media (min-width: 550px) {
  .navbar__logo {
    width: 200px;
  }
  .navbar__button-mobile {
    width: 32px;
    height: 28px;
  }
  .open_nav_background {
    width: 700px;
  }
}

@media (min-width: 800px) {
  .navbar__button-mobile {
    display: none;
  }
  nav .divider {
    order: 2;
  }
}
