nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 0.25rem;
}
.navbar_logo {
  z-index: 1;
  width: 128px;
  margin: 0.5rem 0 0 0.5rem;
}
nav .divider {
  height: 1px;
  width: 100%;
  background-color: var(--black5);
}

nav button {
  z-index: 1;
  width: 24px;
  height: 20px;
  margin-right: 0.5rem;
}
.open_nav_background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 500px;
  z-index: -1;
  background: var(--background);
}

.mobile_list {
  display: flex;
  height: 600px;
  gap: 1.5rem;
  flex-direction: column;
  position: absolute;
  left: 8px;
}

@media (min-width: 550px) {
  .navbar_logo {
    width: 200px;
  }
  nav button {
    width: 32px;
    height: 28px;
  }
  .open_nav_background {
    width: 700px;
  }
}

@media (min-width: 800px) {
  nav button {
    display: none;
  }
  .desktop_list {
    order: 1;
    display: flex;
    gap: 2rem;
    margin-right: 1rem;
  }
  nav .divider {
    order: 2;
  }
}
