:root {
  --primary-color: #77579e;
  --secondary-color: #57659e;
  --linear-gradiant: linear-gradient(
    to right,
    #77579e,
    #6e5b9f,
    #665fa0,
    #5e629f,
    #57659e
  );
  --black90: #232026;
  --black75: #3b3741;
  --black50: #524c5a;
  --black25: #6f667a;
  --black10: #9489a1;
  --black5: #bbaecb;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li,
a {
  text-decoration: none;
}
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;

  font: inherit;
  cursor: pointer;
  outline: inherit;
}
img {
  object-fit: cover;
  display: block;
}
