@font-face {
  font-family: "brandon_grotesquebold";
  src: url("./assets/fonts/brandongrotesque-bold-webfont.woff2") format("woff2"),
    url("./assets/fonts/brandongrotesque-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "brandon_grotesquelight";
  src: url("./assets/fonts/brandon-grotesque-light-58a8a4b38001d-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/brandon-grotesque-light-58a8a4b38001d-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima_novaregular";
  src: url("./assets/fonts/proxima_nova_regular-webfont.woff2") format("woff2"),
    url("./assets/fonts/proxima_nova_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.path-0 {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  animation-delay: -5s;
  animation-duration: 20s;
}
.path-1 {
  animation: move-forever 19s cubic-bezier(.55,.5,.45,.5)     infinite;
  animation-delay: -4s;
  animation-duration: 25s;
}
.path-2 {
  animation: move-forever 22s cubic-bezier(.55,.5,.45,.5)     infinite;
  animation-delay: -3s;
  animation-duration: 30s;
}

@keyframes move-forever {
  0% {
   transform: translate3d(-100px,0,0);
  }
  50% {
    transform: translate3d(0px,0,0)
  }
  100% { 
    transform: translate3d(-100px,0,0);
  }
}
:root {
  --primary-color: #77579e;
  --secondary-color: #57659e;
  --background: #fff;
  --linear-gradiant: linear-gradient(
    to right,
    #77579e,
    #6e5b9f,
    #665fa0,
    #5e629f,
    #57659e
  );
  --linear-gradiantop: linear-gradient(
    to right,
    rgba(119, 87, 158, 0.1),
    rgba(110, 91, 159, 0.2),
    rgba(102, 95, 160, 0.3),
    rgba(94, 98, 159, 0.4),
    rgba(87, 101, 158, 0.5)
  );

  --black90: #232026;
  --black75: #3b3741;
  --black50: #524c5a;
  --black25: #6f667a;
  --black10: #9489a1;
  --black5: #bbaecb;

  --fontsize-p: 21px;
  --fontsize-h1: 91px;
  --fontsize-h2: 64px;
  --fontsize-h3: 45.5px;
  --fontsize-h4: 32px;
  --fontsize-h5: 22px;
  --fontsize-h6: 16px;

  --fontheight-p: 32px;
  --fontheight-h1: 128px;
  --fontheight-h2: 96px;
  --fontheight-h3: 64px;
  --fontheight-h4: 48px;
  --fontheight-h5: 32px;
  --fontheight-h6: 24px;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
}
li,
a {
  text-decoration: none;
  list-style: none;
  font-family: proxima_novaregular;
  font-size: var(--fontsize-h4);
  color: var(--black75);
}
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;

  font: inherit;
  cursor: pointer;
  outline: inherit;
}
img {
  object-fit: cover;
  /* display: block; */
}
