@font-face {
  font-family: 'brandon_grotesquebold';
  src: url('./assets/fonts/brandongrotesque-bold-webfont.woff2') format('woff2'),
       url('./assets/fonts/brandongrotesque-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'brandon_grotesquelight';
  src: url('./assets/fonts/brandon-grotesque-light-58a8a4b38001d-webfont.woff2') format('woff2'),
       url('./assets/fonts/brandon-grotesque-light-58a8a4b38001d-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'proxima_novaregular';
  src: url('./assets/fonts/proxima_nova_regular-webfont.woff2') format('woff2'),
       url('./assets/fonts/proxima_nova_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

:root {
  --primary-color: #77579e;
  --secondary-color: #57659e;
  --linear-gradiant: linear-gradient(
    to right,
    #77579e,
    #6e5b9f,
    #665fa0,
    #5e629f,
    #57659e
  );
  --black90: #232026;
  --black75: #3b3741;
  --black50: #524c5a;
  --black25: #6f667a;
  --black10: #9489a1;
  --black5: #bbaecb;

  --fontsize-p: 21;
  --fontsize-h1: 91;
  --fontsize-h2: 64;
  --fontsize-h3: 45.5;
  --fontsize-h4: 32;
  --fontheight-h5:22;
  --fontheight-h6:16;

  --fontheight-p:32;
  --fontheight-h1:128;
  --fontheight-h2:96;
  --fontheight-h3:64;
  --fontheight-h4:48;
  --fontheight-h5:32;
  --fontheight-h6:24;

  

}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li,
a {
  text-decoration: none;
}
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;

  font: inherit;
  cursor: pointer;
  outline: inherit;
}
img {
  object-fit: cover;
  /* display: block; */
}
